.history
*.pyc
node_modules
gitignore
tempCodeRunnerFile.*
*pycache
__pycache__
.pytest_cache
test/frontend/jest_reports/
test/.coverage
.hypothesis/examples/*
.hypothesis/examples\*
test\.hypothesis*
test/backend/.hypothesis/*
.hypothesis\unicode_data*
Pipfile
Pipfile.lock
.vscode
.DS_Store
