[Unit]
Description=CSUN_Dashboard Crawler
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/python /home/kyeou/CSUN-Dashboard/jobs/crawler/crawler.py &
ExecStop=pkill -f "/usr/bin/python /home/kyeou/CSUN-Dashboard/jobs/crawler/crawler.py"
User=kyeou

[Install]
WantedBy=multi-user.target