[Unit]
Description=CSUN_Dashboard Crawler
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/env nohup python3 /home/christian/CSUN-Dashboard/code-assets/backend/jobs/crawler/crawler.py &
ExecStop=pkill -f "/usr/bin/env nohup python3 /home/christian/CSUN-Dashboard/code-assets/backend/jobs/crawler/crawler.py"
User=christian

[Install]
WantedBy=multi-user.target