<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CSUN-Dashboard API Documentation</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
      <link rel="stylesheet" href="/../../static/styles/scribbler-global.css">
      <link rel="stylesheet" href="/../../static/styles/scribbler-landing.css">
      <link rel="author" href="humans.txt">
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="https://github.com/kyeou/CSUN-Dashboard" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
    <div class="hero">
      <h1 class="hero__title">CSUN-Dashboard API Docs</h1>
      <p class="hero__description">Endpoint docuemntation and more</p>
    </div>
    <div class="hero__terminal">
      <pre>
        <!-- Place your demo code here -->
        <code class="shell-session demo">$ python3 csundash.py<br /></code>
      </pre>
    </div>
    <div class="wrapper">
      <div class="installation">
        <h2 class="section__title">Endpoint List</h2>
        <div class="tab__container">
          <ul class="tab__menu">
            <!-- <li class="tab active" data-tab="default">catalog</li> -->
            <!-- <li class="tab" data-tab="linux">linux</li> -->
          </ul>
          <li><b>Retrieve Catalog of a Specific Subject</b></li>
          <p>
          Replace <code>&lt;subject&gt;</code> with the subject you would like to see the catalog of
          </p>
          <pre class="nohighlight code">
            <code class="tab__pane active default">/&lt;string:subject&gt;/catalog</code>
            <!-- <code class="tab__pane linux">$  apt-get install scribbler</code> -->
          </pre>
          Example: <a href=https://api.kyeou.xyz/comp/catalog target="_blank">https://api.kyeou.xyz/comp/catalog</a> <br />

            <pre>
              <!-- Place your demo code here -->
              <code>
                {
                  &quot;subject&quot;: &quot;COMP&quot;,
                  &quot;catalog_number&quot;: &quot;100&quot;,
                  &quot;title&quot;: &quot;Computers: Their Impact and Use&quot;,
                  &quot;description&quot;: &quot;Not open to Computer Science majors. Introduction to the uses, concepts, techniques and terminology of computing. Places the possibilities and problems of computer use in historical, economic and social contexts. Shows how computers can assist in a wide range of personal, commercial and organizational activities. Typical computer applications, including word processing, spreadsheets and databases. (Available for General Education, E Lifelong Learning.) (IC)&quot;,
                  &quot;units&quot;: &quot;3&quot;,
                  &quot;prerequisites&quot;: &quot;{None}&quot;,
                  &quot;corequisites&quot;: &quot;{None}&quot;
                }
              </code>
            </pre>

          Returns JSON with catalog list of courses, one example of an entry <br />
          <code><span style="white-space: pre;">{
            &quot;subject&quot;: &quot;COMP&quot;,
            &quot;catalog_number&quot;: &quot;100&quot;,
            &quot;title&quot;: &quot;Computers: Their Impact and Use&quot;,
            &quot;description&quot;: &quot;Not open to Computer Science majors. Introduction to the uses, concepts, techniques and terminology of computing. Places the possibilities and problems of computer use in historical, economic and social contexts. Shows how computers can assist in a wide range of personal, commercial and organizational activities. Typical computer applications, including word processing, spreadsheets and databases. (Available for General Education, E Lifelong Learning.) (IC)&quot;,
            &quot;units&quot;: &quot;3&quot;,
            &quot;prerequisites&quot;: &quot;{None}&quot;,
            &quot;corequisites&quot;: &quot;{None}&quot;
          }
        </code></span></pre>
        <br />
        </div>
      </div>
      <div class="feature">
        <div class="feature__item">
          <h3 class="section__title">Fast & Light</h3>
          <p>Start writing your notes immediately in any terminal! No more time wasted on navigating and opening your text editor.</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">File Syncing</h3>
          <p>Save your file in Dropbox then you can access to it from anywhere.</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Secure</h3>
          <p>Encrypt your notes optionally. No one can get to your secrets! </p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Configuration</h3>
          <p>Maintain all your settings in a single <span class="code code--inline">config.json</span> file. Never need to redo the setting every single time jotting down a note.</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Highlightings</h3>
          <p>For better readability, scribbler has a clean, beautiful color scheme allow you to scan files fast.</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Keybindings</h3>
          <p>You can expect common keybindings for scribbler. Customize <span class="code code--inline">bindings.json</span> for your own liking! </p>
        </div>
      </div>
      <div class="keybinding">
        <ul class="keybinding__detail">
          <h3 class="keybinding__title">Default Keybindings</h3>
          <li>Quit without saving <span class="keybinding__label">Ctrl+C</span></li>
          <li>Save <span class="keybinding__label">Cmd+S</span></li>
          <li>Save and Quit <span class="keybinding__label">Ctrl+D</span></li>
          <li>Undo <span class="keybinding__label">Cmd+Z</span></li>
        </ul>
        <ul class="keybinding__detail">
          <h3 class="keybinding__title">Default Keybindings</h3>
          <li>Quit without saving <span class="keybinding__label">Ctrl+C</span></li>
          <li>Save <span class="keybinding__label">Cmd+S</span></li>
          <li>Save and Quit <span class="keybinding__label">Ctrl+D</span></li>
          <li>Undo <span class="keybinding__label">Cmd+Z</span></li>
        </ul>
      </div>
      <div class="keybinding">
        <ul class="keybinding__detail">
          <h3 class="keybinding__title">Markdown Keybindings</h3>
          <li><span class="keybinding__label">Ctrl+A</span> Insert Link Markdown</li>
          <li><span class="keybinding__label">Ctrl+I</span> Insert Image Markdown</li>
          <li><span class="keybinding__label">Ctrl+V</span> Insert YouTube Video</li>
          <li><span class="keybinding__label">Ctrl+T</span> Insert Table</li>
        </ul>
      </div>
      <div class="callout">
        <p>Read our documentation for advanced keybindings and customization</p>
        <a href="doc.html" class="button--primary">Documentation</a>
      </div>
    </div>
    <div class="changelog">
      <div class="wrapper">
        <h3 class="section__title">Changelog</h3>
        <div class="changelog__item">
          <div class="changelog__meta">
            <h4 class="changelog__title">v0.7</h4>
            <small class="changelog__date">10/12/2017</small>
          </div>
          <div class="changelog__detail">
            <ul>
              <li>Improving the writing workflow with better key bindings</li>
              <li>Design updates</li>
              <li>SSL Verification for web hooks</li>
              <li>Render Emoji</li>
            </ul>
          </div>
        </div>
        <div class="changelog__item">
          <div class="changelog__meta">
            <h4 class="changelog__title">v0.6</h4>
            <small class="changelog__date">7/30/2017</small>
          </div>
          <div class="changelog__detail">
            <ul>
              <li>Adding Unicode support</li>
              <li>Basic text highlighting</li>
              <li>Fresh Design</li>
            </ul>
          </div>
        </div>
        <div class="changelog__item">
          <div class="changelog__meta">
            <h4 class="changelog__title">v0.5</h4>
            <small class="changelog__date">5/10/2017</small>
          </div>
          <div class="changelog__detail">
            <ul>
              <li>Save default md file in new folders</li>
              <li>Ability to quick search on existing notes</li>
            </ul>
          </div>
        </div>
        <div class="changelog__callout">
          <a href="#" class="button--secondary">Checkout Full Log</a>
        </div>
      </div>
    </div>
    <footer class="footer">Documentation handled by <a href="https://github.com/NimaShafie" target="_blank" class="link link--light">Nima Shafie</a>.</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/../../static/styles/scribbler.js"></script>
  </body>
</html>